.swiper {
  width: 100%;
  height: fit-content;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-size: cover;
}

.swiper-text {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 35px;
  font-weight: bold;
  color: var(--color-white);
  text-shadow: 1px 1px 3px black;
  max-width: 65%;
  z-index: 1;
}